<h3><%= @trip_summary_data[:residency_conclusion] %></h3>

<%= image_tag person_trips_pie_chart_for_total_days_per_state_path, alt: "Image Missing", class: "pie_chart" %>

<%= link_to "Add more trips!", new_person_trip_path %>
<%= link_to "Analyze a different year", new_person_path %>
<%= link_to "Delete", person_path(@person), method: :delete, data: {confirm: "Are you sure? This will delete the entire year's worth of trips you've added"} %>
<%= link_to "Change desired state of residency and/or year", edit_person_path(@person) %>