<div class="container" id="analysis-graphics">
	<div class="row match-my-cols">
		<div class="col-md-4" id="analysis-numbers">
			  <div class="row match-my-cols" id="r1">
			        <div class="col-md-7 col-sm-3 col-centered">
				        <div class="dummy"></div>
				        <div class="thumbnail numbers" id="n1">
				        	<span class="number-large"><%= @trip_summary_data[:min_days_to_be_resident] %></span></br>
				        	<span class="h6">Min Days in <%= @person.desired_state_of_residency %></span>
			        	</div>
			      </div>
			  </div>
			  <div class="row match-my-cols" id="r2">
			      <div class="col-md-7 col-sm-3 col-centered">
			        <div class="dummy"></div>
			        <div class="thumbnail numbers" id="n2">
			        	<span class="number-large"><%= @trip_summary_data[:max_days_left_in_other_states] %></span></br>
			        	<span class="h6">Max Days Abroad</span>
			        </div>
			      </div>
			  </div>
		</div>
		<div class="col-md-8" id="analysis-pie">
			<%= image_tag person_trips_pie_chart_for_total_days_per_state_path, alt: "Image Missing", class: "pie_chart img-fluid" %>
		</div>
	</div>
	<div class="row">
		<div class="h4"><%= @trip_summary_data[:residency_conclusion] %></div>
	</div>
</div>

<!-- <div class="h3"><%#= @trip_summary_data[:residency_conclusion] %></div> -->