<h2>Great! You're ready...now let's start accounting for where you've spent your year </h2>

<%= form_tag year_analysis_trips_path do %>
  <% if !@errors.nil? %>
    <div id="error_explanation">
      <h2><%= pluralize(@errors.count, "error") %> stopped us from adding this time period: </h2>
      <ul>
        <% @errors.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% @number_of_trips = 3 %>
  <% @time_accounted_for.first(@number_of_trips).each do |trip| %>
    <%= fields_for 'trips[]', trip do |t| %>
      <div class="field">
        <%= t.label :start_date %>
        <%= t.date_field :start_date, min: @min_date, max: @max_date %>
      </div>
      <div class="field">
          <%= t.label :end_date %>
          <%= t.date_field :end_date, min: @min_date, max: @max_date %>
      </div>
      <div class="field">
        <%= t.label :state %>
        <%= t.text_field :state, list: 'states' %>
        <%= render partial: "shared/choose_state" %>
      </div>
    <% end %>
    <br>
  <% end %>
  
  <% if @errors.nil? %>
    <button type="button", id="render_trips_form">Need more space?</button>
    <div class="form-hidden", id="hidden_form">
      <%= render partial:'form', locals: { number_of_trips: 3} %>
    </div>
  <% end %>

  </br>

  <div class="actions">
    <%= submit_tag "Submit" %>
  </div>

<% end %>