<%= form_for(@year_analysis) do |f| %>
  <% if @year_analysis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@year_analysis.errors.count, "error") %> stopped us from beginning to calculate your state of residence:</h2>

      <ul>
      <% @year_analysis.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :desired_state_of_residency %><br />
    <%= f.text_field :desired_state_of_residency, list: 'states' %>
    <%= render partial: "shared/choose_state" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>