<!DOCTYPE html>
<html>
	<head>
	  <title>Determining Residency</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		    	<%= link_to :root, class: "navbar-brand" do %>
		    	    Determining State Residency<span class="glyphicon glyphicon-plane"></span>
		    	<% end %>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <% if @year_analysis && @year_analysis.id %>
			        <li><%= link_to "Add More Trips", new_year_analysis_trip_path(@year_analysis) %></li>
			        <li><%= link_to "Analyze",  year_analysis_path(@year_analysis) %></li>
			        <li><%= link_to "Edit Year", edit_year_analysis_path(@year_analysis) %></li>
		  	        <li><%= link_to "Delete Year", year_analysis_path(@year_analysis), method: :delete, data: {confirm: "Are you sure? This will delete the entire year's worth of trips you've added"} %></li>
	  	        <% end %>
	  	        	<li><%= link_to "See All Years", year_analyses_path %></li>
	  	        <% if user_signed_in? %>
	  	        	<li><%= link_to "Sign Out", destroy_user_session_path %></li>
	  	        <% else %>
	  	        	<li><%= link_to "Sign In", new_user_session_path %></li>
	  	        <% end %>
		      </ul>
		    </div>
		  </div>
		</nav>

	    <div class="container">
		  <p class="notice"><%= notice %></p>
	      <p class="alert"><%= alert %></p>
	      
	      <%= yield %>
	    </div>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</body>
</html>